		
		#btn-reg{
		margin-top: 10px;
		width: 30%;
		height: 35px;
		font-size: 17px;
		}

		#btn-reg1{
		margin-top: 6px;
		width: 30%;
		height: 35px;
		font-size: 17px;
		}

		.input{
		margin-top: 8px;
		width:  30%;
		height: 35px;
		font-size: 18px;
		}

		.address{
		margin-top: 6px;
		width: 30%;
		height: 50px;
		font-size: 18px;
		}

		.input2{
		margin-top: 6px;
		width: 25%;
		margin-left: 1%;
		height: 30px;
		font-size: 18px;
		}




		#user{
		margin-top: 30px;
		width: 70%;
		}

		#img-tcu{
		margin-top: 25px;
		width: 10%;
		}


		#btn{
		width: 70%;
		}
		

		.login-form{
		margin-top: 70px;
	
		width: 50%;
		}

		.link{
		margin-top: 10%;
		font-size: 15px;

		}

		.links{
		font-size: 18px;

		}
		#user{
		width: 70%;
		}


		#pass{
		margin-top: 13px;
		width: 70%;
		}

		#btn{
		margin-top: 30px;
		width: 70%;

		}

		.login{
		margin-top: 50px;
		position: relative;
		height: 500px;
		width: 38%;
		border-top: solid 4px;
		border-left: solid 4px;
		border-right: solid 4px;
		border-bottom: solid 4px;
		}

		#forgotpass{
		margin-top: 20px;
		font-size: 22px;

		}

		#Createaccount{
		}
